/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/01/2019, 12:53:49
    Author     : ff
*/

#root_new{
    -fx-background-image: url(/images/firstImage.jpg);
    -fx-spacing: 50;
    -fx-alignment: CENTER;
}

#upper_lay{
    -fx-background-image: url(/images/fond.jpg);
    -fx-background-size: 300 100;
    -fx-spacing: 50;
    -fx-alignment: CENTER;
}

#name_new{
    -fx-font-size: 30px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#txt_field{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
}

#but_new{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
}

#play_sel{
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 6;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#pane{
    -fx-background-image: url("/images/paneb.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1000 1000;
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/ 
}

#title12{
    -fx-background-image: url("/images/paneb.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#table{
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

#root_main{
    -fx-background-image: url(/images/portrair.png);
    -fx-spacing: 50;
    -fx-alignment: CENTER;
}

#title_main{
    -fx-font-size: 30px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-font-weight: bold; 
    -fx-padding:5px;
}
.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}
.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}


.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
